@import url(https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css);

/* Define CSS variables for background color and text color */
:root {
  --background-color: linear-gradient(45deg, #201629, #000000, #201629);
  --background-color-rgba: rgba(32, 22, 41, 1);  
  --text-color: white;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;  /* Đảm bảo không có margin mặc định */
  color: var(--text-color);
  background: var(--background-color); /* Use CSS variable for background color */
  overflow-y: auto;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

main {
  display: grid;
  grid-template-areas:
  "side head head head"
  "side content content content";
  grid-template-rows: 60px auto;
  grid-template-columns: 300px auto; /* Đặt chiều rộng của aside là 300px */
  height: 100%; /* Thêm chiều cao cho main */
  position: relative; /* Ensure main content is positioned relative */
}

header { 
  grid-area: head; 
  background-color: rgba(89, 19, 76, 0.2); /* Màu nền đen nhạt hơn với độ trong suốt cao hơn */
  align-content: center;
  border-radius: 5px; /* Bo tròn các góc */
    position: sticky;
  top: 0;  /* Dính ở trên cùng khi cuộn trang */
  z-index: 1000;  /* Đảm bảo phần tử luôn ở trên cùng */
}
article { 
  grid-area: content; 
  padding: 10px; /* Thêm khoảng cách bên trong content */
  border-radius: 5px; /* Bo tròn các góc */
}
aside { 
  grid-area: side; 
  padding: 10px; /* Thêm khoảng cách bên trong sidebar */
  border-radius: 5px; /* Bo tròn các góc */
  position: fixed;
  min-height: 100vh;
  width: 280px; /* Đặt chiều rộng của aside là 300px */
  color: var(--text-color); /* Use CSS variable for text color */
  transition: .3s;
  box-shadow: 0px 0px 15px 0px #00000073;
  z-index: 2; /* Ensure sidebar is above main content */
  background: var(--background-color); /* Ensure sidebar has a background */
}
/* Khi sidebar (aside) thu nhỏ với class 'collapsed' */
.collapsed main {
  grid-template-columns: 60px auto; /* Đặt chiều rộng của sidebar (side) thành 40px */
  transition: .3s;
}

.collapsed aside {
  width: 40px; /* Đặt chiều rộng của sidebar khi thu nhỏ */
}

.menu-btn {
  /* color: var(--text-color); */
  position: absolute;
  top: 45%;
  right: -15px; /* Điều chỉnh vị trí của nút menu */
  padding: 8px;
  border: none;
  font-size: 10px;
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.2;
  z-index: 3; /* Ensure menu button is above sidebar */
}

.menu-btn:hover {
  opacity: 1;
}
.logo-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color); /* Use CSS variable for text color */
}

.fa-uikit:before {
  font-size: 25px;
}

.brand-name {
  font-size: 20px;
  transition: .3s;
}

.collapsed .brand-name {
  width: 0;
  visibility: hidden;
  transition-delay: .3s;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(171 171 171 / 21%);
}

ul {
  list-style: none;
  padding: 0; /* Xóa khoảng cách lề trái */
}

.menu-items a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.menu-items a:hover {
  color: #daddff;
  background: #bdbdc017;
  border-radius: 10px;
}

.menu-items li {
  position: relative;
}

.icon {
  font-size: 20px;
}

.item-name {
  transition: .3s;
}

.collapsed .item-name {
  width: 0;
  visibility: hidden;
  transition-delay: .3s;
}

.tooltip {
  position: absolute;
  right: -25px;
  top: 50%;
  color: var(--text-color); /* Use CSS variable for text color */
  padding: 5px 15px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  background-color: rgb(22, 22, 22);
  transform: translate(100%, -50%);
}

.collapsed .menu-items a:hover+.tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  content: "\f0d9";
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  font-weight: 900;
  left: 0;
  top: 50%;
  font-size: 30px;
  color: #161616;
  transform: translate(-50%, -50%);
}

.dropdown {
  position: relative;
}

.dropdown a {
  display: flex;
  align-items: center;
  padding-left: 10px; /* Canh lề trái như các phần khác */
}

.dropdown-icon {
  margin-left: auto; 
}

.dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  padding: 10px;
  padding-left: 40px; /* Cách lề trái 30px */
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--text-color); /* Use CSS variable for text color */
}

.dropdown-menu li a:hover {
  background-color: #6a6a6b17;
  border-radius: 10px;
}

/* Bỏ phần footer đi */
  
/* Media query để ẩn sidebar khi màn hình nhỏ */
@media screen and (max-width: 668px) {
  main {
    grid-template-columns: 0px auto; /* Giảm chiều rộng của sidebar (side) khi màn hình nhỏ */
  }
  .collapsed main {
    grid-template-columns: 0 auto; /* Đặt chiều rộng của sidebar (side) thành 40px */
    transition: .3s;
  }
  
  .collapsed aside {
    width: 0px; /* Đặt chiều rộng của sidebar khi thu nhỏ */
  }
  .collapsed aside a {
    visibility: hidden;
  }
}

/* Media query để hiển thị sidebar khi màn hình lớn */
@media screen and (min-width: 669px) {
  main {
    grid-template-columns: 300px auto; /* Đặt chiều rộng của sidebar (side) khi màn hình lớn */
  }
  .collapsed main {
    grid-template-columns: 60px auto; /* Đặt chiều rộng của sidebar (side) khi thu nhỏ */
    transition: .3s;
  }
  
  .collapsed aside {
    width: 40px; /* Đặt chiều rộng của sidebar khi thu nhỏ */
  }
  .collapsed aside a {
    visibility: visible;
  }
}

