html, body {
  height: 100%;
  margin: 0;  /* Đảm bảo không có margin mặc định */
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

main {
  display: grid;
  grid-template-areas:
  "side head head head"
  "side content content content"
  "foot foot foot foot";
  grid-template-rows: 50px auto 50px;
  height: 100%; /* Thêm chiều cao cho main */
  }

  header { grid-area: head; background-color: aquamarine; }
  article { grid-area: content; }
  aside { 
    grid-area: side; 
  }
  footer { grid-area: foot; }
  
  /* Media query để ẩn sidebar khi màn hình nhỏ */
  @media screen and (max-width: 768px) {
    main {
      grid-template-areas:
        "head head head head"
        "content content content content"
        "foot foot foot foot";
    }
  
    aside {
      display: none; /* Ẩn sidebar khi màn hình nhỏ */
    }
  }
